@model Classifieds.WebUI.ViewModels.ItemViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@using Classifieds.Domain.Entities
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Item</legend>       

        @*<div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.Comment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Comment)
            @Html.ValidationMessageFor(model => model.Comment)
        </div>*@
        
        <div class="editor-label">
            @Html.LabelFor(model => model.ItemType)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ItemType, Model.ItemTypeSelect)
        

        </div>
        
       
        <div id="Features">
          


        </div>

   


        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $('#ItemType').change(function () {

            /* Get the selected value of dropdownlist */
            var selectedID = $(this).val();
            var actionUrl = '@Url.Action("GetFeatureTypePartial")';
            /* Request the partial view with .get request. */
            $.get(actionUrl + '?itemTypeId=' + selectedID, function (data) {
                /* data is the pure html returned from action method, load it to your page */
                $('#Features').html(data);
                /* little fade in effect */
                $('#Features').fadeIn('fast');
            });

        });

    </script>
}
