@using Classifieds.Domain.Entities
@model Classifieds.Domain.Entities.FeatureType

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>FeaturesType</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Section)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.SectionId, ViewBag.SectionSelect as SelectList)
            @Html.ValidationMessageFor(model => model.Section)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ControlType)
        </div>

        <div class="editor-field">
            @Html.DropDownList("TypeDD", ViewBag.TypeEnumSelect as SelectList)
            @Html.ValidationMessageFor(model => model.ControlType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Required)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Required)
            @Html.ValidationMessageFor(model => model.Required)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RequiredText)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RequiredText)
            @Html.ValidationMessageFor(model => model.RequiredText)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Order)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Order)
            @Html.ValidationMessageFor(model => model.Order)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ItemTypes)
        </div>
        <div class="editor-field">
            <ul>
                @foreach (ItemType itemType in ViewBag.ItemTypeList)
                {
                    <li>

                        <input type="checkbox" name="ItemTypes" value="@itemType.Id" />

                        @itemType.Name
                    </li>
                }
                @Html.ValidationMessageFor(model => model.ItemTypes)
            </ul>
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
