@model Classifieds.Domain.Entities.FeatureType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>FeaturesType</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Section.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Section.Name)
    </div>
    
    <div class="display-label">
        @Html.DisplayNameFor(model => model.ControlType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ControlType)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Required)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Required)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.RequiredText)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RequiredText)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Order)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Order)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
